* {
  box-sizing: border-box;
}

body {
  justify-content: center;
  align-items: center;
  background: url("/static/img/background.jpg") no-repeat center center fixed;
  background-size: cover;
	
	display:flex;
	font-size:1rem;
}

.container {
  width: 90%;
  border-radius: 2rem;
  opacity: 1;
  background-color: #1a1a2e;
	margin: auto;
  position: relative;
  top: 0; bottom: 0; left: 0; right: 0;
	margin-top:2.5em;

}

html {
	font-size:24px;
}
