
<div class="container-card">

	<div class="container-blocks">
		
	<h2>Image To Text</h2>
		<div class="project-detail">
			<p>The tool converts an image to text, using Optical Character Recognition (OCR) technology to identify and extract text from the image and it generates a caption for an image. For example you can upload image and ask write caption for this image or what is this image about!!</p>
			<form method="POST" action="/project1">
  <input type="hidden" name="my_data" id="my-data">
  <button type="submit" name="button_clicked">Check Out</button>
</form>
		</div>
	</div>
	<div class="container-blocks">
		<h2>Demo Project 2</h2>
		<div class="project-detail">
			<p>Developement in progress </p>
						<form method="POST" action="/project2" >
  <input type="hidden" name="my_data" id="my-data">
  <button type="submit" name="button_clicked">Check Out</button>
</form>

		</div>
	</div>
	<div class="container-blocks">
		<h2>Demo Project 3</h2>
		<div class="project-detail">
			<p>Coming soon </p>
			
						<form method="POST" action="/project3" >
  <input type="hidden" name="my_data" id="my-data">
  <button type="submit" name="button_clicked">Check Out</button>
</form>

		</div>
	</div>
		
	</div>

<link rel="stylesheet" href="/static/css/projects-grid.css">
 